body {
    background-color: rgb(192, 129, 129);
}

h1 {
    color: whitesmoke;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: white;
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    color: white;
    font-size: 16px;
}

.kanban {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
}

.coluna {
    background-color: #1e1e1e;
    width: 300px;
    min-height: 500px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.card {
    background-color: #2d2d2d;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}

.card button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    text-align: center;
}

.criarTarefa {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.criarTarefa:hover {
    transform: scale(1.05);
}

.alta {
    border-left: 8px solid red;
}

.media {
    border-left: 8px solid yellow;
}

.baixa {
    border-left: 8px solid green;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

/* FORMULÁRIO */

.formulario {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 10px;

    margin-bottom: 30px;

    flex-wrap: wrap;

    margin-bottom: 20px;
}

.campo {

    display: flex;

    flex-direction: column;
}

.campo label {

    color: white;

    margin-bottom: 5px;

    font-size: 14px;
}

.formulario input,
.formulario select, .formulario button {

    padding: 10px;

    border: none;

    border-radius: 5px;
}

.formulario button {

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    background-color: #4CAF50;

    color: white;

    cursor: pointer;

    height: 40px;
}

.formulario button:hover {

    transform: scale(1.05);
}

@media (max-width: 768px) {

    .kanban {

        flex-direction: column;

        align-items: center;
    }

    .coluna {

        width: 90%;
    }

    .formulario {

        flex-direction: column;

        align-items: center;
    }

    .formulario input,
    .formulario select,
    .formulario button {

        width: 90%;
    }
}

.data-hora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.data-hora p {
    margin: 0;
}

.campo {

    display: flex;

    flex-direction: column;

    color: white;
}

.campo input,
.campo select {

    padding: 10px;

    border-radius: 5px;

    border: none;

    min-width: 180px;
}

.data-hora-inputs {

    display: flex;

    gap: 10px;
}